@keyframes background {
  0% {
    background-image: url('./assets/Backgrounds/UniversoPlaneta.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  18% {
    background-image: url('./assets/Backgrounds/UniversoPlaneta2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  34% {
    background-image: url('./assets/Backgrounds/Universo\ MOntañas.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  50% {
    background-image: url('./assets/Backgrounds/UniversoDesierto.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  68% {
    background-image: url('./assets/Backgrounds/UniversoNubes.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  84% {
    background-image: url('./assets/Backgrounds/UniversoRock.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  100% {
    background-image: url('./assets/Backgrounds/UniversoTierra.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

.App {
  text-align: center;
  animation-name: background;
  animation-duration: 100s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-play-state: running;
  min-height: 100vh;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

